// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

#define U_MOUSE_MOVE_MAX 1400                     /* <--- New max speed setting (default: 600) */
#undef MOVE_UP
#undef MOVE_DOWN
#undef MOVE_LEFT
#undef MOVE_RIGHT
#define MOVE_UP MOVE_VERT(-U_MOUSE_MOVE_MAX)
#define MOVE_DOWN MOVE_VERT(U_MOUSE_MOVE_MAX)
#define MOVE_LEFT MOVE_HOR(-U_MOUSE_MOVE_MAX)
#define MOVE_RIGHT MOVE_HOR(U_MOUSE_MOVE_MAX)

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <149>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };


    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬───────┼────────┤──┤─╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            &kp V       &kp D           &kp R            &kp W      &kp B         &kp J      &kp F        &kp U     &kp P          &kp L
        //├──────────┼──────────┼──────────┼──────────┼──────────┤┼────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            &kp A       &kp S           &kp H            &kp T      &kp G         &kp N &ht  RCTRL SPACE  &kp E     &kp O          &kp I
        //├──────────┼──────────┼──────────┼──────────┼──────────┤┼────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            &ht LSHFT Z &kp X           &kp M            &kp C      &kp Q         &kp SEMI   &kp COMMA    &kp RALT  &ht RSHFT FSLH &kp Y
        //╰──────────┴──────────┴──────────┼──────────┼───────────┼────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                       &lt 1 SPACE   &mo 2       &kp DOT    &kp K
        //                                            ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬────────────┬────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            &mkp RCLK  &kp DEL          &kp LALT         &kp GRAVE  &kp LARW      &kp HOME   &kp RARW     &kp PG_UP &kp UARW  &mmv MOVE_DOWN
        //├──────────┼──────────┼──────────┼──────────┼─────────┬─────┬─────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            &kp TAB    &kp LGUI         &kp LPAR         &kp RPAR   &kp LBKT      &kp DARW   &trans       &kp HOME  &kp END   &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼─────┬────┬──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            &kp K_APPLICATION   &mwh SCROLL_DOWN &mwh SCROLL_UP   &mkp LCLK  &kp ESCAPE    &kp BSPC   &mmv MOVE_UP &trans    &kp ENTER &kp RBKT
        //╰──────────┴──────────┴──────────┼──────────┼──┬────┬─────────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                         &trans     &to 3         &mmv MOVE_RIGHT &mmv MOVE_LEFT
        //                                             ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };


        left_layer {
            bindings = <
         //╭──────────┬──────────┬──────────┬──────────┬────────────────────┤╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            &trans       &kp F1         &kp F2     &kp F3   &kp F4                &trans     &kp N7  &kp N8   &kp N9   &kp N1
        //├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            &kp EXCL     &kp F5         &kp F6     &kp F7   &kp F8                &kp N4     &trans  &kp N5   &kp N6   &kp BSLH
        //├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            &trans       &kp F9         &kp F10    &kp F11  &kp F12               &kp EQUAL  &kp N2  &trans   &trans   &kp MINUS
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                         &to 3     &trans         &kp N3     &kp N0
        //                                             ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬────────────────────┤╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
           &bt BT_SEL 2  &kp A          &kp A     &kp A      &bt BT_SEL 0         &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
           &sys_reset    &trans         &trans    &trans     &bt BT_SEL 1         &to 4     &to 0      &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
           &bootloader   &trans         &trans    &bt BT_CLR &trans               &trans     &trans     &trans     &trans    &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                         &trans     &trans         &trans     &trans
        //                                             ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        game_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬───────┼────────┤──┤─╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            &kp V       &kp Q           &kp W            &kp E      &kp R         &kp Y      &kp F        &kp U     &kp P          &kp L
        //├──────────┼──────────┼──────────┼──────────┼──────────┤┼────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            &ht LCTRL TAB  &kp A           &kp S            &kp D      &kp F         &kp N      &to 0        &kp E     &kp O          &kp I
        //├──────────┼──────────┼──────────┼──────────┼──────────┤┼────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            &kp LSHIFT  &kp Z           &kp X            &kp C      &ht G ESCAPE    &kp SEMI   &kp COMMA    &kp RALT  &ht RSHFT FSLH &kp Y
        //╰──────────┴──────────┴──────────┼──────────┼───────────┼────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                       &kp SPACE    &kp LALT      &kp DOT    &kp K
        //                                            ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
